*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',Arial,sans-serif;
    text-decoration: none;
    list-style: none;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px;
    background-color: rgb(37, 2, 44);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 35px;
    color:azure;
    font-weight: 700;
    transition: 0.3s ease;
}
.logo:hover{
    color:rgb(241, 114, 114);
    text-shadow: 0 0 25px rgb(241, 114, 114);
    transform: scale(1.1);
}
span{
    color: rgb(241, 114, 114);
}
.navbar a{
    font-size: 18px;
    color: azure;
    font-weight: 500;
    margin: 0 20px;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active{
         color: rgb(241, 114, 114);
         border-bottom: 3px solid rgb(241, 114, 114);
}
.contact{
    padding: 10px 20px;
    background-color: azure;
    color: rgb(37, 2, 44);
    border-radius: 6px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: rgb(241, 114, 114);
    box-shadow: 0 0 25px rgb(241, 114, 114);
    color: azure;
}
.home{
    width: 100%;
    padding: 150px 12%;
    min-height: 100vh;
    gap: 7em;
    align-items: center;
}
.btn1{
    padding: 10px 20px;
    margin: 10px ;
    border-radius: 6px;
     background-color: rgb(241, 114, 114);
    color: azure;
    border-color: rgb(241, 114, 114);
    cursor: pointer;
}
.btn2,
 .contact-form button 
{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 6px;
    color: white;
    background-color: rgb(37, 2, 44);
    border-color: rgb(37, 2, 44);
    cursor: pointer;
}
.btn1:hover{
    background-color: rgb(245, 241, 246);
    color: black;
    border-color: rgb(37, 2, 44);
}
.btn2:hover,

 .contact-form button:hover{ 
    background-color: white;
    color: black;
    border-color: rgb(37, 2, 44);
}
.home{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(229, 210, 216);
    display: flex;
    gap: 7em;
    padding: 30px 12% 0;
    align-items: center;
}
.home-content{
    max-width: 800px;
    font-size: 40px;
}
.home-content h2{
    font-size: 40px;
}
.home-content h1{
    font-size: 100px;
    line-height: 1.2;
}
.home-content p{
    font-size: 15px;
    margin: 25px 0 30px;
    color: black;
}
.img img{
    border-radius: 50%;
    width: 500px;
}
.about-img img{
    position: relative;
    width: 550px;
    box-shadow: 0 0 25 rgb(241, 114, 114)
                0 0 25 rgb(241, 114, 114);
   border-radius: 50%;

}
.centreImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
::-webkit-scrollbar-thumb{
    background-color: white;
}
::-webkit-scrollbar-track{
    background-color: wheat;
    width:50px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: black;
}
.about-content h2{
    text-align: left;
    color: rgb(222, 144, 169);
    font-size: 42px;
}
.about-content h3{
    font-size: 60px;
    color: rgb(222, 144, 169);
}
.about-content p{
    color: rgb(151, 91, 128);
    font-size: 20px;
    margin: 2em 0 3em;
}
.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: centre;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(249, 231, 237);
    border-radius: 0.8rem;
    margin: 1rem 0;
    resize: none;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 24px;
    color: antiquewhite;
    border: 2px solid rgb(241, 114, 114);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px rgb(241, 114, 114), 0 0 10px rgb(241, 114, 114);
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: rgb(241, 114, 114);
    border: 2px solid rgb(241, 114, 114);
}
.footer ul{
    margin-top: 0;
    padding: 0%;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid rgb(241, 114, 114);

}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color:antiquewhite;
}